.App {
    /*text-align: center;*/
    font-family: 'Conv_LANENAR_';
}

* {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.App-header {
    background-color: #222;
    height: 80px;
    padding: 10px 30px 30px;
    color: white;
    text-align: center;
}

.App-intro {
    font-size: large;
}

.btn:focus {
    outline: 0;
}

.todo-wrapper {
    display: flex;
}

.todo-content {
    flex: 1;
    padding-right: 20px;
}

.todo-content span,
.todo-wrapper {
    display: flex;
}

.filter-todo {
    margin-top: 20px;
}

.todo-content span input {
    margin-right: 20px;
}

input.todo-checkbox {
    visibility: hidden;
    position: relative;
}

input.todo-checkbox:after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../public/images/checkbox.png") no-repeat center;
    visibility: visible;
    position: absolute;
    left: 0;
    top: -4px;
}

input.todo-checkbox:checked:after {
    background-image: url("../../public/images/checkbox-active.png");
}

input.todo-checkbox:disabled:after {
    background-image: url("../../public/images/checkbox-disabled.png");
}

.todo-panel {
    -webkit-box-shadow: 0 0 10px #e5e5e5;
    -moz-box-shadow: 0 0 10px #e5e5e5;
    box-shadow: 0 0 10px #e5e5e5;
    border-color: #f0ad4e;
}

.panel-heading {
    display: flex;
    padding: 0px;
    padding-left: 16px;
}

.panel-warning > .panel-heading {
    border-bottom-color: #eaab52;
}

.panel-heading .add-todo-form {
    flex: 1;
}

.panel-heading .todo-checkbox {
    margin-right: 25px;
}

.panel-heading .add-todo {
    padding: 30px 20px;
    border: 0;
    box-shadow: none;
    border-left: 1px solid #eaab52;
    border-radius: 0;
    background-color: #fff;
    font-family: 'Conv_LANENAR_';
    font-size: 25px;
    color: #f0ad4e;
}

.panel-heading input.todo-checkbox:after {
    top: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f2cd99 !important;
}

.edit-todo-form {
    width: 100%;
}

.form-control.edit-todo-input:focus {
    -webkit-box-shadow: 0 0 10px #e5e5e5;
    -moz-box-shadow: 0 0 10px #e5e5e5;
    box-shadow: 0 0 10px #e5e5e5;
    border-color: #f0ad4e;
    background-color: #faf6d9;
}

.list-group-item {
    font-weight: bold;
    font-size: 16px;
}

.list-group-item:hover {
    background-color: #fdfcf4;
}

.list-group-item.completed {
    background-color: #fdfcf4;
    opacity: 0.5;
}

.list-group-item em {
    color: #333;
    font-style: normal;
    cursor: pointer;
    flex: 1;
}

.list-group-item.completed em {
    text-decoration: line-through;
    color: #a94442;
    font-style: italic;
}

.list-group-item a,
.list-group-item a:hover {
    text-decoration: none;
}

.edit-todo, .delete-todo,
.save-todo, .cancel-todo {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
}

.completed .edit-todo,
.completed .delete-todo {
    /*color: #a94442;*/
}

.edit-todo:hover, .delete-todo:hover,
.save-todo:hover, .cancel-todo:hover {
    text-decoration: underline;
}

.filter-btn-group {
    margin-bottom: 20px;
}

.todo-item-info {
    font-weight: normal;
    font-size: 13px;
    margin-left: 10px;
}

.todo-footer {
    font-family: Arial;
    text-align: center;
    font-size: 11px;
    color: #b9b8b8;
}

.todo-footer strong a {
    color: #666;
    text-decoration: none;
}
.todo-footer a {
    color: #b9b8b8;
    text-decoration: underline;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
